**Importing Wanted Libraries**

In [ ]:
import pandas as pd # to read data set
import numpy as np # to perform numeric operation
import matplotlib.pyplot as plt # for Visualise

**Accesing DataSet from Google Drive, So using Drive Mount**

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

**Reading DataSet CSV File from Google Drive**

In [ ]:
df=pd.read_csv('/content/gdrive/My Drive/Co_data.csv',encoding='latin1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

**Displaying Dataset Head**

In [ ]:
df.head()

   member_id   loan_amnt   ... tot_colle_amt tot_curr_bal
0    58189336       14350  ...           0.0      28699.0
1    70011223        4800  ...           0.0       9974.0
2    70255675       10000  ...          65.0      38295.0
3     1893936       15000  ...           0.0      55564.0
4     7652106       16000  ...           0.0      47159.0

[5 rows x 36 columns]

**Displaying Number of Rows & Columns**

In [ ]:
df.shape

(887379, 36)

**Deleting Unnecessary Columns**

In [ ]:
df.drop(df.columns[[0,3,6,7,9,11,13,23,31]],axis=1, inplace=True)

In [ ]:
df.shape

(887379, 27)

**DataSet Info will display Null & Non-Null Values with it's DataType**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 27 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loan_amnt                    887379 non-null  int64
 1   terms                        887379 non-null  object
 2   Rate_of_intrst               887379 non-null  float64
 3   grade                        887379 non-null  object
 4   Experience                   842554 non-null  object
 5   annual_inc                   887375 non-null  float64
 6   purpose                      887379 non-null  object
 7   debt_income_ratio            887379 non-null  float64
 8   delinq_2yrs                  887350 non-null  float64
 9   inq_last_6mths               887350 non-null  float64
 10  mths_since_last_delinq       433067 non-null  float64
 11  mths_since_last_record       137053 non-null  float64
 12  numb_credit                  887350 non-null  float64
 13  pub_rec                      887350 non-null  float64
 14  total revol_bal              887379 non-null  float64
 15  total_credits                887350 non-null  float64
 16  total_rec_int                887379 non-null  float64
 17  total_rec_late_fee           887379 non-null  float64
 18  recoveries                   887379 non-null  float64
 19  collection_recovery_fee      887379 non-null  float64
 20  collections_12_mths_ex_med   887234 non-null  float64
 21  mths_since_last_major_derog  221703 non-null  float64
 22  application_type             887379 non-null  object
 23  last_week_pay                887379 non-null  object
 24  acc_now_delinq               887350 non-null  float64
 25  tot_colle_amt                817103 non-null  float64
 26  tot_curr_bal                 817103 non-null  float64
dtypes: float64(20), int64(1), object(6)
memory usage: 182.8+ MB

**Displaying Column Names**

In [ ]:
df.columns

Index(['loan_amnt ', 'terms', 'Rate_of_intrst', 'grade', 'Experience',
       'annual_inc', 'purpose', 'debt_income_ratio', 'delinq_2yrs',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'numb_credit', 'pub_rec', 'total revol_bal', 'total_credits',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'application_type', 'last_week_pay',
       'acc_now_delinq', 'tot_colle_amt', 'tot_curr_bal'],
      dtype='object')

**Creating Function to remove words and displaying only numbers** 
Ex: 24months to 24

In [ ]:
def remove_months(string):
  return int(string.strip(' months'))
df['terms'] = df['terms'].apply(remove_months)

**Using Strip removing unwanted letters and words which make prediction easy**

In [ ]:
df['Experience'] = df['Experience'].astype(str).str.lstrip('<').str.rstrip('+ years')

In [ ]:
df.columns

Index(['loan_amnt ', 'terms', 'Rate_of_intrst', 'grade', 'Experience',
       'annual_inc', 'purpose', 'debt_income_ratio', 'delinq_2yrs',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'numb_credit', 'pub_rec', 'total revol_bal', 'total_credits',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'application_type', 'last_week_pay',
       'acc_now_delinq', 'tot_colle_amt', 'tot_curr_bal'],
      dtype='object')



1. **Using RStrip removing week, Now *"25th week"* will become 25th**
2. **Using Location removing word 'th' Now 25th become 25**
3. **Now converting object to numeric using function pd.to_numeric**

In [ ]:
df['last_week_pay'] = df['last_week_pay'].astype(str).str.rstrip('week')
df['last_week_pay'] = df['last_week_pay'].astype(str).str[:-3]
df['last_week_pay'] = pd.to_numeric(df['last_week_pay'],errors='coerce')

**Filling all Null Values using fillna function wrt mean type**

In [ ]:
df.collections_12_mths_ex_med = df.collections_12_mths_ex_med.fillna(df.collections_12_mths_ex_med.mean())
df.mths_since_last_major_derog = df.mths_since_last_major_derog.fillna(df.mths_since_last_major_derog.mean())
#df.Experience = df.Experience.fillna(df.Experience.mean())
df.delinq_2yrs = df.delinq_2yrs.fillna(df.delinq_2yrs.mean())
df.inq_last_6mths = df.inq_last_6mths.fillna(df.inq_last_6mths.mean())
df.mths_since_last_delinq = df.mths_since_last_delinq.fillna(df.mths_since_last_delinq.mean())
df.mths_since_last_record = df.mths_since_last_record.fillna(df.mths_since_last_record.mean())
df.numb_credit = df.numb_credit.fillna(df.numb_credit.mean())
df.total_credits = df.total_credits.fillna(df.total_credits.mean())
df.tot_colle_amt = df.tot_colle_amt.fillna(df.tot_colle_amt.mean())
df.tot_curr_bal = df.tot_curr_bal.fillna(df.tot_curr_bal.mean())
df.pub_rec  = df.pub_rec.fillna(df.pub_rec.mean())
df.acc_now_delinq  = df.acc_now_delinq.fillna(df.acc_now_delinq.mean())
#df.last_week_pay  = df.last_week_pay.fillna(df.last_week_pay.mean())
df.annual_inc = df.annual_inc.fillna(df.annual_inc.mean())

**Deleting last_week_pay column, which is unnecessary for our perdiction**

In [ ]:
df.drop('last_week_pay',axis=1,inplace=True)

**Checking any Null Values present Still.**

In [ ]:
df.isnull().sum()

loan_amnt                      0
terms                          0
Rate_of_intrst                 0
grade                          0
Experience                     0
annual_inc                     0
purpose                        0
debt_income_ratio              0
delinq_2yrs                    0
inq_last_6mths                 0
mths_since_last_delinq         0
mths_since_last_record         0
numb_credit                    0
pub_rec                        0
total revol_bal                0
total_credits                  0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
collections_12_mths_ex_med     0
mths_since_last_major_derog    0
application_type               0
acc_now_delinq                 0
tot_colle_amt                  0
tot_curr_bal                   0
dtype: int64

**Describe Function will give us statistical score like Mean, Standard Deviation, Quartile, half & Max**

In [ ]:
df.describe()

          loan_amnt           terms  ...  tot_colle_amt  tot_curr_bal
count  887379.000000  887379.000000  ...   8.873790e+05  8.873790e+05
mean    14755.264605      43.201090  ...   2.257026e+02  1.394582e+05
std      8435.455601      10.998663  ...   9.894641e+03  1.475363e+05
min       500.000000      36.000000  ...   0.000000e+00  0.000000e+00
25%      8000.000000      36.000000  ...   0.000000e+00  3.224600e+04
50%     13000.000000      36.000000  ...   0.000000e+00  1.000890e+05
75%     20000.000000      60.000000  ...   0.000000e+00  1.957940e+05
max     35000.000000      60.000000  ...   9.152545e+06  8.000078e+06

[8 rows x 22 columns]

**Checking Correlation of all Feature Variables with Target Variable**

In [ ]:
df[df.columns[0:]].corr()['total revol_bal'][:]

loan_amnt                      0.333580
terms                          0.091102
Rate_of_intrst                -0.035708
annual_inc                     0.295783
debt_income_ratio              0.067277
delinq_2yrs                   -0.032486
inq_last_6mths                -0.017556
mths_since_last_delinq        -0.017470
mths_since_last_record        -0.007371
numb_credit                    0.224540
pub_rec                       -0.100609
total revol_bal                1.000000
total_credits                  0.189103
total_rec_int                  0.137380
total_rec_late_fee             0.002774
recoveries                     0.010828
collection_recovery_fee        0.008151
collections_12_mths_ex_med    -0.022850
mths_since_last_major_derog   -0.007934
acc_now_delinq                -0.000855
tot_colle_amt                 -0.006036
tot_curr_bal                   0.429024
Name: total revol_bal, dtype: float64

**Checking Correlation of all columns Seperately**

In [ ]:
correlation_df = df.corr()
print(correlation_df)

                             loan_amnt      terms  ...  tot_colle_amt  tot_curr_bal
loan_amnt                      1.000000  0.411717  ...      -0.004108      0.315930
terms                          0.411717  1.000000  ...      -0.002260      0.106477
Rate_of_intrst                 0.145023  0.428058  ...       0.001090     -0.088222
annual_inc                     0.332697  0.058360  ...       0.001062      0.405282
debt_income_ratio              0.020675  0.051077  ...      -0.002066     -0.007218
delinq_2yrs                   -0.000159 -0.000503  ...       0.000204      0.063706
inq_last_6mths                -0.034167 -0.004614  ...       0.002921      0.031633
mths_since_last_delinq        -0.026403 -0.005105  ...       0.006195     -0.066270
mths_since_last_record        -0.003691  0.013464  ...      -0.006125     -0.008994
numb_credit                    0.198900  0.086125  ...       0.000120      0.235886
pub_rec                       -0.081175 -0.025239  ...       0.006832     -0.075163
total revol_bal                0.333580  0.091102  ...      -0.006036      0.429024
total_credits                  0.222633  0.102081  ...       0.006268      0.298828
total_rec_int                  0.533916  0.382550  ...      -0.003320      0.121613
total_rec_late_fee             0.031395  0.004754  ...      -0.000435      0.009866
recoveries                     0.073150  0.057290  ...      -0.000807      0.003686
collection_recovery_fee        0.052205  0.035883  ...      -0.000414      0.004628
collections_12_mths_ex_med    -0.016648 -0.005362  ...       0.009806     -0.010978
mths_since_last_major_derog   -0.017894 -0.002593  ...       0.004886     -0.035159
acc_now_delinq                 0.003947  0.004944  ...       0.000237      0.023382
tot_colle_amt                 -0.004108 -0.002260  ...       1.000000     -0.000355
tot_curr_bal                   0.315930  0.106477  ...      -0.000355      1.000000

[22 rows x 22 columns]

**Checking DataTypes of all columns, wheather any datatype consist of object, if any type is object convert it to numerical types.**

In [ ]:
df.dtypes

loan_amnt                        int64
terms                            int64
Rate_of_intrst                 float64
grade                           object
Experience                      object
annual_inc                     float64
purpose                         object
debt_income_ratio              float64
delinq_2yrs                    float64
inq_last_6mths                 float64
mths_since_last_delinq         float64
mths_since_last_record         float64
numb_credit                    float64
pub_rec                        float64
total revol_bal                float64
total_credits                  float64
total_rec_int                  float64
total_rec_late_fee             float64
recoveries                     float64
collection_recovery_fee        float64
collections_12_mths_ex_med     float64
mths_since_last_major_derog    float64
application_type                object
acc_now_delinq                 float64
tot_colle_amt                  float64
tot_curr_bal                   float64
dtype: object


**Deleting purpose column, which is unnecessary for our perdiction**

In [ ]:
df.drop(['purpose'],axis=1,inplace=True)

**Installing feature_engine library which is needed for OneHotEncoder**

In [ ]:
!pip install feature_engine

Collecting feature_engine
  Downloading https://files.pythonhosted.org/packages/3c/32/885141003f4e2de75cd5e379a760a2184643c7d80cd413f0e962c1da2aa4/feature_engine-0.5.17-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn>=0.22.2 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (0.22.2.post1)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (1.4.1)
Collecting statsmodels>=0.11.1
  Downloading https://files.pythonhosted.org/packages/cb/83/540fd83238a18abe6c2d280fa8e489ac5fcefa1f370f0ca1acd16ae1b860/statsmodels-0.11.1-cp36-cp36m-manylinux1_x86_64.whl (8.7MB)
     |████████████████████████████████| 8.7MB 5.5MB/s
Requirement already satisfied: pandas>=1.0.3 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (1.0.5)
Requirement already satisfied: numpy>=1.18.2 in /usr/local/lib/python3.6/dist-packages (from feature_engine) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.22.2->feature_engine) (0.16.0)
Requirement already satisfied: patsy>=0.5 in /usr/local/lib/python3.6/dist-packages (from statsmodels>=0.11.1->feature_engine) (0.5.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.3->feature_engine) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=1.0.3->feature_engine) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.5->statsmodels>=0.11.1->feature_engine) (1.15.0)
Installing collected packages: statsmodels, feature-engine
  Found existing installation: statsmodels 0.10.2
    Uninstalling statsmodels-0.10.2:
      Successfully uninstalled statsmodels-0.10.2
Successfully installed feature-engine-0.5.17 statsmodels-0.11.1

**Installing Required packages for Categorical Encoder**

In [ ]:
from sklearn.model_selection import train_test_split
from feature_engine.categorical_encoders import OneHotCategoricalEncoder

In [ ]:
df.columns

Index(['loan_amnt ', 'terms', 'Rate_of_intrst', 'grade', 'Experience',
       'annual_inc', 'debt_income_ratio', 'delinq_2yrs', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'numb_credit',
       'pub_rec', 'total revol_bal', 'total_credits', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'application_type', 'last_week_pay', 'acc_now_delinq', 'tot_colle_amt',
       'tot_curr_bal'],
      dtype='object')

**Splitting Dataset into train & test which help for building the model**

In [ ]:
X_train, X_test, Y_Train, Y_test = train_test_split(df[['loan_amnt ', 'terms', 'Rate_of_intrst', 'grade', 'Experience', 'mths_since_last_delinq',
                                                    'annual_inc', 'debt_income_ratio', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_record',
                                                    'numb_credit','pub_rec','total_credits', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
                                                    'collection_recovery_fee','collections_12_mths_ex_med', 'mths_since_last_major_derog',
                                                    'application_type', 'acc_now_delinq', 'tot_colle_amt','tot_curr_bal']],
                                                    df['total revol_bal'], test_size=0.2, random_state=0)
X_train.shape, X_test.shape

((709903, 24), (177476, 24))

**Displaying any Categorical variables present in Dataset**

In [ ]:
catgor = [colmn for colmn in X_train.columns if X_train[colmn].dtypes == 'O']
catgor

['grade', 'Experience', 'application_type']

**The Categorical variable that is present in Dataset will be deleted because that is nolonger needed for our prediction**

In [ ]:
one_enc = OneHotCategoricalEncoder(variables = catgor, drop_last=False)
one_enc.fit(X_train)

OneHotCategoricalEncoder(drop_last=False, top_categories=None,
                         variables=['grade', 'Experience', 'application_type'])

**Now we will check the deleted categorical variables what is present in that, it contains NAN, object, Invalid characters**

In [ ]:
one_enc.encoder_dict_

{'Experience': array(['10', ' 1', '3', '1', '7', '5', '6', 'nan', '8', '2', '9', '4'],
       dtype=object),
 'application_type': array(['INDIVIDUAL', 'JOINT'], dtype=object),
 'grade': array(['A', 'F', 'B', 'C', 'D', 'E', 'G'], dtype=object)}

**We are transforming Feature variable and Target Variable which help for smooth prediction**

In [ ]:
X_train = one_enc.transform(X_train)
X_test = one_enc.transform(X_test)

In [ ]:
X_train.head()

        loan_amnt   terms  ...  application_type_INDIVIDUAL  application_type_JOINT
739987       35000     36  ...                            1                       0
584608        3600     36  ...                            1                       0
283403        9600     36  ...                            1                       0
533014       15000     60  ...                            1                       0
207033       21000     36  ...                            1                       0

[5 rows x 42 columns]

In [ ]:
df_1 = df.iloc[[0]]
df_2 = df_1[['loan_amnt ', 'terms', 'Rate_of_intrst', 'grade', 'Experience', 'mths_since_last_delinq',
              'annual_inc', 'debt_income_ratio', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_record',
              'numb_credit','pub_rec','total_credits', 'total_rec_int', 'total_rec_late_fee', 'recoveries',
              'collection_recovery_fee','collections_12_mths_ex_med', 'mths_since_last_major_derog',
              'application_type', 'acc_now_delinq', 'tot_colle_amt','tot_curr_bal']]

**Pickling” is the process whereby a Python object hierarchy is converted into a byte stream, and “unpickling” is the inverse operation**

In [ ]:
import pickle
from sklearn.externals import joblib
joblib.dump(one_enc, 'mdl1.pkl')

/usr/local/lib/python3.6/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['mdl1.pkl']

**joblib.load is used for deserialize the data stream, and we transfroming data of encoder object**

In [ ]:
encoder = joblib.load('mdl1.pkl')
df_test = encoder.transform(df_2)
df_2

   loan_amnt   terms  ...  tot_colle_amt tot_curr_bal
0       14350     36  ...            0.0      28699.0

[1 rows x 24 columns]

In [ ]:
df_test

   loan_amnt   terms  ...  application_type_INDIVIDUAL  application_type_JOINT
0       14350     36  ...                            1                       0

[1 rows x 42 columns]

**We are doing Normalization for Dataset to avoid outliers in our prediction**

In [ ]:
def norm_lize (x):
  return((x-np.min(x)) / (max(x) - min(x)))

  X_train = X_train.apply(norm_lize)
  Y_Train = Y_Train.apply(norm_lize)

**Building Linear Regression wrt OLS [Ordinary Least Squares]  
**Now we are predicting the model:
R-Squared : 0.261 | 
Adj. R-Squared : 0.261****

In [ ]:
import statsmodels.api as smf
X_train = smf.add_constant(X_train)
lm_reg = smf.OLS(Y_Train,X_train).fit()
print(lm_reg.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        total revol_bal   R-squared:                       0.261
Model:                            OLS   Adj. R-squared:                  0.261
Method:                 Least Squares   F-statistic:                     6421.
Date:                Mon, 10 Aug 2020   Prob (F-statistic):               0.00
Time:                        04:04:53   Log-Likelihood:            -8.0188e+06
No. Observations:              709903   AIC:                         1.604e+07
Df Residuals:                  709863   BIC:                         1.604e+07
Df Model:                          39
Covariance Type:            nonrobust
===============================================================================================
                                  coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------------------
const                        -160.8939    364.100     -0.442      0.659    -874.518     552.730
loan_amnt                       0.5226      0.004    139.633      0.000       0.515       0.530
terms                         -77.3859      2.582    -29.966      0.000     -82.447     -72.324
Rate_of_intrst                -39.6247     19.321     -2.051      0.040     -77.492      -1.757
mths_since_last_delinq        -18.2288      1.920     -9.496      0.000     -21.991     -14.466
annual_inc                      0.0345      0.000     88.076      0.000       0.034       0.035
debt_income_ratio              65.8925      1.260     52.280      0.000      63.422      68.363
delinq_2yrs                 -1770.6516     32.107    -55.149      0.000   -1833.580   -1707.723
inq_last_6mths               -579.4303     24.446    -23.702      0.000    -627.344    -531.517
mths_since_last_record        -37.8371      2.129    -17.770      0.000     -42.010     -33.664
numb_credit                   579.3114      6.149     94.206      0.000     567.259     591.364
pub_rec                     -2257.3607     41.160    -54.844      0.000   -2338.032   -2176.689
total_credits                -107.9591      2.855    -37.812      0.000    -113.555    -102.363
total_rec_int                  -0.1074      0.015     -7.077      0.000      -0.137      -0.078
total_rec_late_fee            -26.5647      5.690     -4.669      0.000     -37.717     -15.412
recoveries                     -0.0022      0.096     -0.023      0.982      -0.191       0.187
collection_recovery_fee        -0.3998      0.615     -0.650      0.515      -1.605       0.805
collections_12_mths_ex_med  -1955.9913    175.993    -11.114      0.000   -2300.933   -1611.050
mths_since_last_major_derog   -13.9078      2.394     -5.810      0.000     -18.599      -9.216
acc_now_delinq              -2099.2322    309.495     -6.783      0.000   -2705.831   -1492.633
tot_colle_amt                  -0.2577      0.013    -20.098      0.000      -0.283      -0.233
tot_curr_bal                    0.0486      0.000    268.017      0.000       0.048       0.049
grade_A                      -785.3402    173.393     -4.529      0.000   -1125.184    -445.496
grade_F                      -228.7288    205.112     -1.115      0.265    -630.742     173.284
grade_B                       249.9911    113.701      2.199      0.028      27.141     472.842
grade_C                       479.6925     79.164      6.059      0.000     324.533     634.852
grade_D                       238.4366     87.680      2.719      0.007      66.588     410.286
grade_E                        20.7167    127.028      0.163      0.870    -228.254     269.687
grade_G                      -135.6618    319.638     -0.424      0.671    -762.141     490.818
Experience_10                1703.0326     55.275     30.810      0.000    1594.696    1811.370
Experience_ 1                -171.6853     84.623     -2.029      0.042    -337.544      -5.827
Experience_3                 -734.4708     85.002     -8.641      0.000    -901.071    -567.870
Experience_1                 -416.4829     92.312     -4.512      0.000    -597.412    -235.554
Experience_7                 -452.4832    102.896     -4.397      0.000    -654.155    -250.811
Experience_5                 -394.8420     93.638     -4.217      0.000    -578.369    -211.315
Experience_6                 -539.9207    104.422     -5.171      0.000    -744.584    -335.257
Experience_nan               2276.9481    102.866     22.135      0.000    2075.334    2478.562
Experience_8                 -292.6343    103.330     -2.832      0.005    -495.158     -90.111
Experience_2                 -468.3005     81.374     -5.755      0.000    -627.791    -308.810
Experience_9                  157.3797    114.552      1.374      0.169     -67.138     381.898
Experience_4                 -827.4347     95.659     -8.650      0.000   -1014.923    -639.947
application_type_INDIVIDUAL  3795.4534    365.749     10.377      0.000    3078.598    4512.309
application_type_JOINT      -3956.3473    643.523     -6.148      0.000   -5217.632   -2695.063
==============================================================================
Omnibus:                  1538665.726   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      60436959773.903
Skew:                          18.678   Prob(JB):                         0.00
Kurtosis:                    1431.924   Cond. No.                     1.36e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.79e-16. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

**Again We are performing Linear Regression only for Numerical Variables**

In [ ]:
df=pd.read_csv('/content/gdrive/My Drive/Co_data.csv',encoding='latin1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df.head()

   member_id   loan_amnt   ... tot_colle_amt tot_curr_bal
0    58189336       14350  ...           0.0      28699.0
1    70011223        4800  ...           0.0       9974.0
2    70255675       10000  ...          65.0      38295.0
3     1893936       15000  ...           0.0      55564.0
4     7652106       16000  ...           0.0      47159.0

[5 rows x 36 columns]

**Separating Categorical Variables in the dataset**

In [ ]:
catgor = [colmn for colmn in df.columns if df[colmn].dtypes == 'O']
catgor

['terms',
 'batch_ID ',
 'grade',
 'sub_grade',
 'Emp_designation',
 'Experience',
 'home_ownership',
 'verification_status',
 'purpose',
 'State',
 'initial_list_status',
 'application_type',
 'verification_status_joint',
 'last_week_pay']

**Deleting Categorical Variables, which is not useful for our predictions**

In [ ]:
df1 = df.drop(columns=catgor,axis=1)
df1.columns

Index(['member_id ', 'loan_amnt ', 'Rate_of_intrst', 'annual_inc',
       'debt_income_ratio', 'delinq_2yrs', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'numb_credit',
       'pub_rec', 'total revol_bal', 'total_credits', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'acc_now_delinq', 'tot_colle_amt', 'tot_curr_bal'],
      dtype='object')

**Deleting Some more columns in our Dataset**

In [ ]:
df1.drop('member_id ',axis=1, inplace=True)
df1.drop('mths_since_last_record',axis=1, inplace=True)
df1.drop('mths_since_last_major_derog',axis=1, inplace=True)

**Checking dataset wheather unwanted columns in dataset deleted or not**

In [ ]:
df1.columns

Index(['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'numb_credit', 'pub_rec', 'total revol_bal', 'total_credits',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'acc_now_delinq', 'tot_colle_amt', 'tot_curr_bal'],
      dtype='object')

**Filling NA values wrt Mean Values**

In [ ]:
df1.collections_12_mths_ex_med = df1.collections_12_mths_ex_med.fillna(df1.collections_12_mths_ex_med.mean())
df1.delinq_2yrs = df1.delinq_2yrs.fillna(df1.delinq_2yrs.mean())
df1.inq_last_6mths = df1.inq_last_6mths.fillna(df1.inq_last_6mths.mean())
df1.mths_since_last_delinq = df1.mths_since_last_delinq.fillna(df1.mths_since_last_delinq.mean())
df1.numb_credit = df1.numb_credit.fillna(df1.numb_credit.mean())
df1.total_credits = df1.total_credits.fillna(df1.total_credits.mean())
df1.tot_colle_amt = df1.tot_colle_amt.fillna(df1.tot_colle_amt.mean())
df1.tot_curr_bal = df1.tot_curr_bal.fillna(df1.tot_curr_bal.mean())
df1.pub_rec  = df1.pub_rec.fillna(df1.pub_rec.mean())
df1.acc_now_delinq  = df1.acc_now_delinq.fillna(df1.acc_now_delinq.mean())
df1.annual_inc = df1.annual_inc.fillna(df1.annual_inc.mean())

**Normalizing the whole Dataset to reduce outliers**

In [ ]:
def norm_lize_df (x):
  return((x-np.min(x)) / (max(x) - min(x)))

  df1 = df1.apply(norm_lize_df)

In [ ]:
df1

        loan_amnt   Rate_of_intrst  ...  tot_colle_amt   tot_curr_bal
0            14350           19.19  ...        0.00000   28699.000000
1             4800           10.99  ...        0.00000    9974.000000
2            10000            7.26  ...       65.00000   38295.000000
3            15000           19.72  ...        0.00000   55564.000000
4            16000           10.64  ...        0.00000   47159.000000
...            ...             ...  ...            ...            ...
887374       15000            6.49  ...        0.00000  143920.000000
887375       35000           25.89  ...        0.00000  772713.000000
887376       14000           17.51  ...      225.70261  139458.189336
887377       20000            7.26  ...        0.00000  291998.000000
887378        2700            7.49  ...      225.70261  139458.189336

[887379 rows x 19 columns]

**Converting Loan_amount data type to float**

In [ ]:
df1['loan_amnt '] = df1['loan_amnt '].astype(float)

**Checking wheather Loan_amount data type is affected or not**

In [ ]:
df1.dtypes

loan_amnt                     float64
Rate_of_intrst                float64
annual_inc                    float64
debt_income_ratio             float64
delinq_2yrs                   float64
inq_last_6mths                float64
mths_since_last_delinq        float64
numb_credit                   float64
pub_rec                       float64
total revol_bal               float64
total_credits                 float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
collections_12_mths_ex_med    float64
acc_now_delinq                float64
tot_colle_amt                 float64
tot_curr_bal                  float64
dtype: object

In [ ]:
df1.columns

Index(['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio',
       'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq',
       'numb_credit', 'pub_rec', 'total revol_bal', 'total_credits',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'acc_now_delinq', 'tot_colle_amt', 'tot_curr_bal'],
      dtype='object')

In [ ]:
X_train_df, X_test_df, Y_Train_df, Y_test_df = train_test_split(df1[['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio',
                                                                      'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'numb_credit',
                                                                      'pub_rec', 'total_credits', 'total_rec_int', 'total_rec_late_fee','recoveries',
                                                                      'collection_recovery_fee', 'collections_12_mths_ex_med', 'acc_now_delinq',
                                                                      'tot_colle_amt', 'tot_curr_bal']],
                                                                df1[['total revol_bal']], test_size=0.2, random_state=0)
X_train_df.shape, X_test_df.shape

((709903, 18), (177476, 18))

**Now we are predicting the model:
R-Squared : 0.257 | 
Adj. R-Squared : 0.257**

In [ ]:
X_train_df = smf.add_constant(X_train_df)
lm_reg_df = smf.OLS(Y_Train_df,X_train_df).fit()
print(lm_reg_df.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        total revol_bal   R-squared:                       0.257
Model:                            OLS   Adj. R-squared:                  0.257
Method:                 Least Squares   F-statistic:                 1.363e+04
Date:                Mon, 10 Aug 2020   Prob (F-statistic):               0.00
Time:                        04:11:43   Log-Likelihood:            -8.0206e+06
No. Observations:              709903   AIC:                         1.604e+07
Df Residuals:                  709884   BIC:                         1.604e+07
Df Model:                          18
Covariance Type:            nonrobust
==============================================================================================
                                 coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------------
const                      -1619.0641    121.175    -13.361      0.000   -1856.564   -1381.565
loan_amnt                      0.4963      0.004    139.179      0.000       0.489       0.503
Rate_of_intrst               -72.3942      6.266    -11.553      0.000     -84.676     -60.112
annual_inc                     0.0348      0.000     89.003      0.000       0.034       0.036
debt_income_ratio             66.5729      1.259     52.896      0.000      64.106      69.040
delinq_2yrs                -1669.2094     31.949    -52.246      0.000   -1731.828   -1606.590
inq_last_6mths              -518.2227     24.356    -21.277      0.000    -565.959    -470.487
mths_since_last_delinq       -21.8800      1.787    -12.241      0.000     -25.383     -18.377
numb_credit                  554.0686      6.129     90.407      0.000     542.057     566.080
pub_rec                    -2047.8389     40.767    -50.233      0.000   -2127.741   -1967.937
total_credits                -95.9138      2.832    -33.863      0.000    -101.465     -90.362
total_rec_int                 -0.1413      0.015     -9.620      0.000      -0.170      -0.112
total_rec_late_fee           -22.8725      5.700     -4.013      0.000     -34.044     -11.701
recoveries                    -0.0799      0.097     -0.827      0.408      -0.269       0.109
collection_recovery_fee       -0.0599      0.616     -0.097      0.923      -1.267       1.147
collections_12_mths_ex_med -1843.9245    175.963    -10.479      0.000   -2188.807   -1499.042
acc_now_delinq             -1929.7129    310.277     -6.219      0.000   -2537.846   -1321.580
tot_colle_amt                 -0.2471      0.013    -19.235      0.000      -0.272      -0.222
tot_curr_bal                   0.0484      0.000    267.314      0.000       0.048       0.049
==============================================================================
Omnibus:                  1535265.502   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      59459946718.490
Skew:                          18.580   Prob(JB):                         0.00
Kurtosis:                    1420.324   Cond. No.                     2.90e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.9e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

**Again We are performing Linear Regression only with Necessary Columns**

In [ ]:
df3 = pd.read_csv('/content/gdrive/My Drive/Co_data.csv',encoding='latin1')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (31) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df3.columns

Index(['member_id ', 'loan_amnt ', 'terms', 'batch_ID ', 'Rate_of_intrst',
       'grade', 'sub_grade', 'Emp_designation', 'Experience', 'home_ownership',
       'annual_inc', 'verification_status', 'purpose', 'State',
       'debt_income_ratio', 'delinq_2yrs', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'numb_credit',
       'pub_rec', 'total revol_bal', 'total_credits', 'initial_list_status',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'application_type',
       'verification_status_joint', 'last_week_pay', 'acc_now_delinq',
       'tot_colle_amt', 'tot_curr_bal'],
      dtype='object')

In [ ]:
df3_sec = df3.drop(columns=['member_id ','batch_ID ','mths_since_last_delinq','mths_since_last_record','mths_since_last_major_derog','verification_status_joint'],axis=1)

In [ ]:
df3_sec.columns

Index(['loan_amnt ', 'terms', 'Rate_of_intrst', 'grade', 'sub_grade',
       'Emp_designation', 'Experience', 'home_ownership', 'annual_inc',
       'verification_status', 'purpose', 'State', 'debt_income_ratio',
       'delinq_2yrs', 'inq_last_6mths', 'numb_credit', 'pub_rec',
       'total revol_bal', 'total_credits', 'initial_list_status',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'application_type', 'last_week_pay', 'acc_now_delinq', 'tot_colle_amt',
       'tot_curr_bal'],
      dtype='object')

In [ ]:
catgor1 = [colmn for colmn in df3_sec.columns if df3_sec[colmn].dtypes == 'O']
catgor1

['terms',
 'grade',
 'sub_grade',
 'Emp_designation',
 'Experience',
 'home_ownership',
 'verification_status',
 'purpose',
 'State',
 'initial_list_status',
 'application_type',
 'last_week_pay']

In [ ]:
df3_sec = df3_sec.drop(columns=catgor1,axis=1)

In [ ]:
df3_sec.columns

Index(['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio',
       'delinq_2yrs', 'inq_last_6mths', 'numb_credit', 'pub_rec',
       'total revol_bal', 'total_credits', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'acc_now_delinq', 'tot_colle_amt',
       'tot_curr_bal'],
      dtype='object')

In [ ]:
df3_sec.dropna(how='any',axis=0)

        loan_amnt   Rate_of_intrst  ...  tot_colle_amt  tot_curr_bal
0            14350           19.19  ...            0.0       28699.0
1             4800           10.99  ...            0.0        9974.0
2            10000            7.26  ...           65.0       38295.0
3            15000           19.72  ...            0.0       55564.0
4            16000           10.64  ...            0.0       47159.0
...            ...             ...  ...            ...           ...
887372       10800           20.99  ...            0.0       56129.0
887373       14300           15.41  ...            0.0       88713.0
887374       15000            6.49  ...            0.0      143920.0
887375       35000           25.89  ...            0.0      772713.0
887377       20000            7.26  ...            0.0      291998.0

[817103 rows x 18 columns]

In [ ]:
df3_sec.columns

Index(['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio',
       'delinq_2yrs', 'inq_last_6mths', 'numb_credit', 'pub_rec',
       'total revol_bal', 'total_credits', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'acc_now_delinq', 'tot_colle_amt',
       'tot_curr_bal'],
      dtype='object')

In [ ]:
df3_sec.isnull().any()

loan_amnt                     False
Rate_of_intrst                False
annual_inc                     True
debt_income_ratio             False
delinq_2yrs                    True
inq_last_6mths                 True
numb_credit                    True
pub_rec                        True
total revol_bal               False
total_credits                  True
total_rec_int                 False
total_rec_late_fee            False
recoveries                    False
collection_recovery_fee       False
collections_12_mths_ex_med     True
acc_now_delinq                 True
tot_colle_amt                  True
tot_curr_bal                   True
dtype: bool

In [ ]:
df3_sec.collections_12_mths_ex_med = df3_sec.collections_12_mths_ex_med.fillna(df3_sec.collections_12_mths_ex_med.mean())
df3_sec.delinq_2yrs = df3_sec.delinq_2yrs.fillna(df3_sec.delinq_2yrs.mean())
df3_sec.inq_last_6mths = df3_sec.inq_last_6mths.fillna(df3_sec.inq_last_6mths.mean())
df3_sec.numb_credit = df3_sec.numb_credit.fillna(df3_sec.numb_credit.mean())
df3_sec.total_credits = df3_sec.total_credits.fillna(df3_sec.total_credits.mean())
df3_sec.tot_colle_amt = df3_sec.tot_colle_amt.fillna(df3_sec.tot_colle_amt.mean())
df3_sec.tot_curr_bal = df3_sec.tot_curr_bal.fillna(df3_sec.tot_curr_bal.mean())
df3_sec.pub_rec  = df3_sec.pub_rec.fillna(df3_sec.pub_rec.mean())
df3_sec.acc_now_delinq  = df3_sec.acc_now_delinq.fillna(df3_sec.acc_now_delinq.mean())
df3_sec.annual_inc = df3_sec.annual_inc.fillna(df3_sec.annual_inc.mean())

In [ ]:
df3_sec.isnull().any()

loan_amnt                     False
Rate_of_intrst                False
annual_inc                    False
debt_income_ratio             False
delinq_2yrs                   False
inq_last_6mths                False
numb_credit                   False
pub_rec                       False
total revol_bal               False
total_credits                 False
total_rec_int                 False
total_rec_late_fee            False
recoveries                    False
collection_recovery_fee       False
collections_12_mths_ex_med    False
acc_now_delinq                False
tot_colle_amt                 False
tot_curr_bal                  False
dtype: bool

In [ ]:
X_sec = df3_sec[['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio', 'delinq_2yrs', 'inq_last_6mths', 'numb_credit', 
       'pub_rec', 'total_credits', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med', 
       'acc_now_delinq', 'tot_colle_amt','tot_curr_bal']]
Y_sec = df3_sec[['total revol_bal']]

**Performing Standard Scaler Operation to Dataset**

In [ ]:
from sklearn.preprocessing import StandardScaler
X_std = StandardScaler()
Y_std = StandardScaler()
X_sec = X_std.fit_transform(X_sec)
Y_sec = Y_std.fit_transform(Y_sec)

**Splitting Dataset to Train and Test**

In [ ]:
X_train_std, X_test_std, Y_Train_std, Y_test_std = train_test_split(X_sec,Y_sec, test_size=0.3, random_state=0)
X_train_std.shape, X_test_std.shape

((621165, 17), (266214, 17))

**Now we are predicting the model:
R-Squared : 0.256 | 
Adj. R-Squared : 0.256**

In [ ]:
X_train_std = smf.add_constant(X_train_std)
len_reg1 = smf.OLS(Y_Train_std,X_train_std).fit()

In [ ]:
print(len_reg1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.256
Model:                            OLS   Adj. R-squared:                  0.256
Method:                 Least Squares   F-statistic:                 1.256e+04
Date:                Mon, 10 Aug 2020   Prob (F-statistic):               0.00
Time:                        04:14:33   Log-Likelihood:            -8.0048e+05
No. Observations:              621165   AIC:                         1.601e+06
Df Residuals:                  621147   BIC:                         1.601e+06
Df Model:                          17
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.0004      0.001     -0.360      0.719      -0.003       0.002
x1             0.1853      0.001    128.114      0.000       0.182       0.188
x2            -0.0166      0.001    -12.580      0.000      -0.019      -0.014
x3             0.1030      0.001     84.969      0.000       0.101       0.105
x4             0.0789      0.001     60.961      0.000       0.076       0.081
x5            -0.0559      0.001    -48.935      0.000      -0.058      -0.054
x6            -0.0217      0.001    -18.509      0.000      -0.024      -0.019
x7             0.1283      0.002     81.800      0.000       0.125       0.131
x8            -0.0527      0.001    -46.317      0.000      -0.055      -0.050
x9            -0.0545      0.002    -33.870      0.000      -0.058      -0.051
x10           -0.0117      0.001     -7.927      0.000      -0.015      -0.009
x11           -0.0038      0.001     -3.431      0.001      -0.006      -0.002
x12           -0.0037      0.002     -1.926      0.054      -0.007    6.56e-05
x13            0.0014      0.002      0.751      0.453      -0.002       0.005
x14           -0.0103      0.001     -9.054      0.000      -0.012      -0.008
x15           -0.0054      0.001     -4.667      0.000      -0.008      -0.003
x16           -0.1085      0.006    -17.738      0.000      -0.120      -0.097
x17            0.3232      0.001    251.372      0.000       0.321       0.326
==============================================================================
Omnibus:                  1377213.349   Durbin-Watson:                   2.001
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      62587330169.424
Skew:                          19.720   Prob(JB):                         0.00
Kurtosis:                    1557.553   Cond. No.                         8.58
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
Y_test_std = pd.DataFrame(data=Y_std.inverse_transform(Y_test_std), columns=['total revol_bal'])

**Adding Constant column to our DataFrame**

In [ ]:
X_tst_c = smf.add_constant(X_test_std)

In [ ]:
pred1 = Y_std.inverse_transform(len_reg1.predict(X_tst_c))

In [ ]:
Y_test_std.insert(loc=1,column='pred1',value=pred1)

**Displaying Actual Values vs Predicted Values**

In [ ]:
Y_test_std

        total revol_bal         pred1
0                6068.0  12207.970585
1               22107.0  17669.138926
2                9951.0   8642.220423
3                5218.0   6566.065099
4               11218.0  11177.080174
...                 ...           ...
266209          35409.0  28263.525526
266210           7277.0  18886.782846
266211          25770.0  40179.591799
266212           5775.0  10869.783324
266213          24058.0  35433.342302

[266214 rows x 2 columns]

**Checking for RMSE [Root Mean Squared Error] of Linear Regression Model | 
RMSE: 18909.32**

In [ ]:
from sklearn import metrics
print("RMSE :", np.sqrt(metrics.mean_squared_error(Y_test_std['total revol_bal'],Y_test_std['pred1'])))

RMSE : 18909.323534279647

**Now we are using Random Forest Regressor for prediction**

In [ ]:
######## Random Forest Regressor ###########
from sklearn.metrics import explained_variance_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score as rsqrt
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
df3_sec.columns

Index(['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio',
       'delinq_2yrs', 'inq_last_6mths', 'numb_credit', 'pub_rec',
       'total revol_bal', 'total_credits', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'acc_now_delinq', 'tot_colle_amt',
       'tot_curr_bal'],
      dtype='object')

**Splitting Target & Feature Variables**

In [ ]:
X_sec2 = df3_sec[['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio', 'delinq_2yrs', 'inq_last_6mths', 'numb_credit', 
       'pub_rec', 'total_credits', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'collections_12_mths_ex_med', 
       'acc_now_delinq', 'tot_colle_amt','tot_curr_bal']]
Y_sec2 = df3_sec[['total revol_bal']]

**Splitting Dataset into Train & Test**

In [ ]:
X_train_rf, X_test_rf, Y_Train_rf, Y_test_rf = train_test_split(X_sec2,Y_sec2, test_size=0.3, random_state=0)
X_train_rf.shape, X_test_rf.shape

((621165, 17), (266214, 17))

In [ ]:
Jq_Param_APlt={
              'n_estimators' :[100,200,500,1000],
              'max_depth' : [10,15,20],
              'max_features' : ['auto','sqrt','log2'],
              'random_state' : [42]
}

**Fitting Random Forest Regressor**

In [ ]:
rf_reg = RandomForestRegressor(n_estimators=20,max_depth=15,random_state=42)
rf_reg.fit(X_train_rf,Y_Train_rf)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=15, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

**Predicting Random Forest Regressor**

In [ ]:
rf_pred = rf_reg.predict(X_train_rf)

**Checking R2_Score on Train dataset**

In [ ]:
rf_train_sqrt = rsqrt(Y_Train_rf,rf_pred)
rf_train_sqrt

0.6573691857896655

**Checking R2_Score on Test dataset**

In [ ]:
rf_pred_ts = rf_reg.predict(X_test_rf)
rf_test_sqrt = rsqrt(Y_test_rf,rf_pred_ts)
rf_test_sqrt

0.31927893213430725

**Checking RMSE of Random Forest Regressor**

In [ ]:
print("Train RMSE :", np.sqrt(metrics.mean_squared_error(Y_Train_rf,rf_pred)))
print("Test RMSE :", np.sqrt(metrics.mean_squared_error(Y_test_rf,rf_pred_ts)))

Train RMSE : 13358.838443711496
Test RMSE : 17719.019759325907

**Checking Feature Importances in Dataset**

In [ ]:
k = list(rf_reg.feature_importances_)
j = list(X_train_rf.columns)
data = {'Columns': j, 'Feature Importance':k}
d = pd.DataFrame(data)
d

                       Columns  Feature Importance
0                   loan_amnt             0.120799
1               Rate_of_intrst            0.049068
2                   annual_inc            0.107862
3            debt_income_ratio            0.136690
4                  delinq_2yrs            0.014911
5               inq_last_6mths            0.012777
6                  numb_credit            0.046495
7                      pub_rec            0.018122
8                total_credits            0.049973
9                total_rec_int            0.042786
10          total_rec_late_fee            0.002125
11                  recoveries            0.002095
12     collection_recovery_fee            0.002161
13  collections_12_mths_ex_med            0.001251
14              acc_now_delinq            0.000993
15               tot_colle_amt            0.010136
16                tot_curr_bal            0.381755

In [ ]:
df3_sec.columns

Index(['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio',
       'delinq_2yrs', 'inq_last_6mths', 'numb_credit', 'pub_rec',
       'total revol_bal', 'total_credits', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'acc_now_delinq', 'tot_colle_amt',
       'tot_curr_bal'],
      dtype='object')

**Based on Feature Importance we are giving columns names based on highest values**

In [ ]:
X_ft = df3_sec[['loan_amnt ', 'Rate_of_intrst', 'annual_inc', 'debt_income_ratio',
               'numb_credit', 'total_credits', 'total_rec_int','tot_curr_bal']]
Y_ft = df3_sec[['total revol_bal']]

**Splitting Dataset for Train & Test based on Feature Importance**

In [ ]:
X_train_ft, X_test_ft, Y_Train_ft, Y_test_ft = train_test_split(X_ft,Y_ft, test_size=0.3, random_state=0)
X_train_ft.shape, X_test_ft.shape

((621165, 8), (266214, 8))

**Fitting Random Forest Regressor based on Feature Importance**

In [ ]:
rf_reg_1 = RandomForestRegressor(n_estimators=20,max_depth=15,random_state=42)
rf_reg_1.fit(X_train_ft,Y_Train_ft)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=15, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=20, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

**Calculating Train R2_Score based on Feature Importance**

In [ ]:
rf_pred_2 = rf_reg_1.predict(X_train_ft)
rf_train_2 = rsqrt(Y_Train_ft,rf_pred_2)
rf_train_2

0.664891476081932

**Calculating Test R2_Score based on Feature Importance**

In [ ]:
rf_pred_tst = rf_reg_1.predict(X_test_ft)
rf_train_sqrt_tst = rsqrt(Y_test_ft,rf_pred_tst)
rf_train_sqrt_tst

0.29704983640195515

**Checking RMSE after Feature Importance is Applied for Random Forest Regressor**

In [ ]:
print("Train RMSE :", np.sqrt(metrics.mean_squared_error(Y_Train_ft,rf_pred_2)))
print("Test RMSE :", np.sqrt(metrics.mean_squared_error(Y_test_ft,rf_pred_tst)))

Train RMSE : 13211.381264848731
Test RMSE : 18006.00492700891